@using AS.CMS.Domain.Base.Event;
@model EventProfessionQuota
@section CustomCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/chosen.css")">
}
@section CustomJS
{
    <script src="@Url.Content("~/Assets/Scripts/chosen.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.chosen-select').chosen();
        });
    </script>
}
@{
    ViewBag.Title = "Etkinlik Kota";
    Layout = "~/Views/Layout/_Main.cshtml";
    EventProfessionQuota currentEventProfessionQuota = Model;
}
<article class="content item-editor-page">
    <div class="title-block">
        <h3 class="title">
            Yeni Kota Ekle <span class="sparkline bar" data-type="bar"></span>
        </h3>
    </div>
    <form id="saveEventTypeForm" method="post" action="@Url.Action("SaveEventProfessionQuota")" name="item">
        <input type="hidden" id="ID" name="ID" value="@currentEventProfessionQuota.ID" />

        <div class="card card-block">
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right">
                    Etkinlik:
                </label>
                <div class="col-sm-10">
                    @Html.DropDownList("eventDaysList", ViewBag.EventSelectList as SelectList, new { @class = "c-select form-control boxed chosen-select", @data_placeholder = "Etkinlik Seçiniz" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right">
                    Meslek:
                </label>
                <div class="col-sm-10">
                   @Html.DropDownList("eventDaysList", ViewBag.ProfessionSelectList as SelectList, new { @class = "c-select form-control boxed chosen-select", @data_placeholder = "Meslek Seçiniz" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right">
                    Kota:
                </label>
                <div class="col-sm-10">
                    <input id="Quantity" name="Quantity" type="number" min="0" max="100" class="form-control boxed" placeholder="Kota Sayısını Giriniz." value="@currentEventProfessionQuota.Quantity" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 form-control-label text-xs-right">
                    Aktif:
                </label>
                <div class="col-sm-10">
                    <select id="IsActive" name="IsActive" class="c-select form-control boxed">
                        <option value="true" @Html.Raw(currentEventProfessionQuota.IsActive ? "selected" : string.Empty)>Evet</option>
                        <option value="false" @Html.Raw(!currentEventProfessionQuota.IsActive ? "selected" : string.Empty)>Hayır</option>
                    </select>
                </div>
            </div>    
            <div class="form-group row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </form>
</article>