@using AS.CMS.Domain.Base.Employee;
@using AS.CMS.Business.Helpers;
@model IList<Employee>
@section CustomCSS
{
    <link rel="stylesheet" href="@Url.Content("~/Assets/Css/chosen.css")">
}
@section CustomJS
{
    <script src="@Url.Content("~/Assets/Scripts/chosen.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.chosen-select').chosen();
            $("#professionID_chosen").width("100%");
        });
    </script>

    <script type="text/javascript">
        $(".edit").click(function () {
            $("#employeeID").val($(this).data("employeeid"));
            $('#event-modal').modal('show');
        });
    </script>
}
@{
    ViewBag.Title = "Etkinliğe Uygun Adaylar";
    Layout = "~/Views/Layout/_ListSearchBase.cshtml";
    int eventID = !string.IsNullOrWhiteSpace(Request.QueryString["eventID"]) ? int.Parse(Request.QueryString["eventID"]) : int.Parse(ViewBag.EventID);

}

<div class="card items">
    <ul class="item-list striped">
        <li class="item item-list-header hidden-sm-down">
            <div class="item-row">
                <div class="item-col item-col-header item-col-author">
                    <div> <span>Adı</span> </div>
                </div>
                <div class="item-col item-col-header item-col-author">
                    <div> <span>Soyadı</span> </div>
                </div>
                <div class="item-col item-col-header item-col-author">
                    <div> <span>Cinsiyet</span> </div>
                </div>
                <div class="item-col item-col-header item-col-date">
                    <div> <span>Telefon</span> </div>
                </div>
                <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
            </div>
        </li>

        @foreach (var employeeItem in Model)
        {
            <li class="item">
                <div class="item-row">
                    <div class="item-col item-col-author">
                        <div class="item-heading">Adı</div>
                        <div>
                            <a href="@Url.Action("yeni-aday-ekle", "aday", new { employeeID = employeeItem.ID })" target="_blank" class="">
                                <h4 class="item-title">@employeeItem.FirstName</h4>
                            </a>
                        </div>
                    </div>
                    <div class="item-col item-col-author">
                        <div class="item-heading">Soyadı</div>
                        <div class="no-overflow"> <a href="@Url.Action("yeni-aday-ekle", "aday", new { employeeID = employeeItem.ID })" target="_blank">@employeeItem.LastName</a> </div>
                    </div>
                    <div class="item-col item-col-author">
                        <div class="item-heading">Cinsiyet</div>
                        <div class="no-overflow"> <a href="@Url.Action("yeni-aday-ekle", "aday", new { employeeID = employeeItem.ID })" target="_blank">@employeeItem.Gender.ToDescription()</a> </div>
                    </div>
                    <div class="item-col item-col-date">
                        <div class="item-heading">Telefon</div>
                        <div class="no-overflow"> <a href="@Url.Action("yeni-aday-ekle", "aday", new { employeeID = employeeItem.ID })" target="_blank">@employeeItem.Phone</a> </div>
                    </div>
                    <div class="item-col fixed item-col-actions-dropdown">
                        <div class="item-actions-dropdown">
                            <a class="item-actions-toggle-btn">
                                <span class="inactive">
                                    <i class="fa fa-cog"></i>
                                </span> <span class="active">
                                    <i class="fa fa-chevron-circle-right"></i>
                                </span>
                            </a>
                            <div class="item-actions-block">
                                <ul class="item-actions-list">
                                    <li>
                                        <a class="edit" title="Adayı Etkinliğe Ekle" data-employeeid="@employeeItem.ID" href="#"> <i class="fa fa-sort-numeric-asc"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<form id="saveEventEmployee" method="post" action="@Url.Action("SaveEventEmployee")" name="employeeForm">
    <div class="modal fade" id="event-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-question-circle"></i> Aday Hangi Kotaya Eklenecek</h4>
                </div>
                <div class="modal-body">
                    <div class="card card-block">
                        <input type="hidden" id="eventID" name="eventID" value="@eventID" />
                        <input type="hidden" id="employeeID" name="employeeID" />

                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Kota:
                            </label>
                            <div class="col-sm-10">
                                @Html.DropDownList("professionID", ViewBag.professionSelectList as IEnumerable<SelectListItem>, new { @class = "c-select form-control boxed chosen-select", @data_placeholder = "Çalışma Şekli Seçiniz" })
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">
                                    Kaydet
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="searchEmployeeForm" method="post" action="@Url.Action("EventAvailableEmployees", "Event", new { eventID = eventID})" name="employeeForm">
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><i class="fa fa-search"></i> Detaylı Arama</h4>
                </div>
                <div class="modal-body">
                    <div class="card card-block">
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                İsim:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="FirstName" name="FirstName" class="form-control boxed" placeholder="İsim Giriniz">
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Soyisim:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="LastName" name="LastName" class="form-control boxed" placeholder="Soyisim Giriniz">
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Telefon:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="Phone" name="Phone" class="form-control boxed" placeholder="Telefon Giriniz">
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Cinsiyet:
                            </label>
                            <div class="col-sm-10">
                                <select id="Gender" name="Gender" class="c-select form-control boxed">
                                    <option value="1">Erkek</option>
                                    <option value="2">Kadın</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Boy:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="Height" name="Height" class="form-control boxed" placeholder="Boy Giriniz">
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <label class="col-sm-2 form-control-label text-xs-right">
                                Kilo:
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="Weight" name="Weight" class="form-control boxed" placeholder="Kilo Giriniz" />
                            </div>
                        </div>
                        <div class="form-group row" style="width: 100%">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">
                                    Arama Yap
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>